.ag-theme-alpine {
    --ag-header-height: 40px;
    --ag-header-foreground-color: white;
    --ag-header-background-color: #30324e;
    /* then add back a border between rows */
    --ag-row-border-style: solid;
    --ag-row-border-width: 1px;
    --ag-row-border-color: #404366;
    --ag-odd-row-background-color: #eaf0f6;
    --ag-selected-row-background-color: rgb(113, 113, 232,0.1);
    
}
