.wrapper {
    display: flex;
    position: relative;
}

.container {
    min-height: 900px;
    color: rgb(86, 153, 219);
    font-weight: 500;
    background: #fff;
    border-right: 1px solid rgb(150, 150, 150);
    transition: all 0.1s;
}

.top_section {
    display: flex;
    align-items: center;
    padding: 17px 20px;

    h2 {
        color: #207cca;
    }

    .bars {
        font-size: 30px;
        margin-left: 50px;
        cursor: pointer;
    }
}

.link {
    display: flex;
    gap: 30px;
    padding: 17px 20px;
    color: var(--text-white);
    transition: all 0.1s;
    text-decoration: none;

    &:hover {
        color: var(--text-black);
        background: lightskyblue;
        transition: all 0.1s;
    }

    .icon,
    .link_text {
        font-size: 15px;
        text-decoration: none;
    }
}

.active {
    color: #000;
    background: lightskyblue;
}

.sidebar .link_text {
    text-decoration-line: none;
}