.wrapper {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
}

.content {
    width: 100%;
    min-height: 1000px;
    padding: 100px;
    background: rgb(255, 252, 252);
    font-size: 15px;
}