// project.module.scss
.table {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.table-head {
    background-color: #f2f2f2;
    font-weight: bold;
}

.table-row:hover {
    background-color: #f7f7f7;
}

.button {
    margin-right: 8px;
}

.add-button {
    margin-bottom: 20px;
    margin-right: 8px;
}

.button-group {
    display: flex;
    float: right;
}