// project.module.scss

.table {
    border: 1px solid #ccc;

}

.table-head {
    background-color: #f2f2f2;
    font-weight: bold;
}

.table-row:hover {
    background-color: #f7f7f7;
}

.button {
    margin-right: 8px;
    padding-right: 5px;
}

.add-button {
    background: #7171e8;
    margin-right: 10px;
    margin-top: 10px;
    color: #fff;
    border: none;
    position: relative;
    height: 30px;
    font-size: 1.6rem;
    padding: 0 1em;
    cursor: pointer;
    outline: none;
    border-radius: 50px;

}

.add-button:hover {
    background: #5454e9;
}

.button-group {
    display: flex;
    float: right;
    padding-bottom: 10px;
}

.popup-form {
    position: fixed;
    width: 500px;
    height: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.popup-form form {
    display: flex;
    flex-direction: column;
}

.popup-form input {
    margin-bottom: 10px;
    padding: 5px;
}

.popup-form .button {
    align-self: flex-end;
}

.edit-button {
    display: flex;
    justify-content: center;
}

.form-input {
    width: 120px;
    height: 30px;
    border: 1px solid #404040ae;
    border-radius: 5px;
}

.pop-form-input {
    width: auto;
    height: 50px;
    border: 1px solid #404040ae;
    border-radius: 5px;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    border: 1px solid #ccc;
    padding: 5px;
}

.table-wrapper {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}