.wrapper {
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #d0d4e4;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    min-height: 630px;
}

.kaban {
    border: #000;
}

.board {
    border: 1px solid #000;
    margin-top: 20px;
    padding: 10px;
    height: auto;
    border-radius: 18px;


    .board_name {
        text-align: left;
    }

    .task {
        background-color: #eceff8;
        border: 2px solid black;
        margin: 2px;
        padding: 10px;
        border-radius: 18px;
        height: auto;
    }
}

.board-btn {
    width: 90px;
    margin-left: 20px;
    height: 40px;
    border: 2px solid #30324e;
    border-radius: 15px;
    transition: all 0.18s;
    cursor: pointer;
    background: white;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.board-btn:hover {
    background: #30324e;
    color: white;
    font-size: 21px;
}

.stats {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}

.stat {
    align-items: center;
    padding: 30px;
    width: 100%;
    background-color: #f2f2f2;
    border: 2px solid #30324e;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;

    .stat-label {
        font-size: 13px;
    }
}

.count {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

@media (max-width: 1290px) {
    .stats {
        flex-direction: column;
        align-items: flex-start;
    }

    .stat {
        width: 100%;
        margin-bottom: 10px;
        margin-right: 10px;
    }
}